body{
    background-color: #C4DBF6
}

.title{
    padding-top: 10px;
    text-align: center;
    color: white;
}

.formcontainer{
    background-color: #8590AA;
    border-radius: 10px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 700px;
    box-shadow: #8590AA 0px 5px 30px 5px;
}

.logo{
    position: absolute;
    width: 70px;
    height: 70px;
    
}

.detailform{
    width: 280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.input{
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 15px;
    outline: none;
    text-align: center;
}
.input:focus{
    border-radius: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #B23850;
    outline: none;
    transition: 0.2s;
}

.loginLINK{
    color: #B23850;
    font-size: 18px;
}
.newuserLabel{
    font-size: 18px;

}
.glowButton{
    border: 1px solid black;
    font-weight: bold;
    background-color: #3B8BEB;
    width: 150px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-left: 65px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    margin-top: 20px;
    border-color: #3B8BEB;
}


.glowButton:hover, .glowButton:focus, .glowButton:active{
    box-shadow: 0 0 15px #3B8BEB;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: #3B8BEB;
}



